body {
    padding-top: 54px;
}
@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

html, body, #map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    position: relative;
}

.left-info-pane{
    position: absolute;
    top: 56px;
    width: 400px;
    padding-left: 20px;
    background-color: transparent;
}

.top-ustanova{
    height: 100px;
    margin-bottom: 5px;
    background-color: white;
}

.top-ustanova-content{
    padding-top: 40px;
    padding-left: 40px;
}